<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="usuario">
  <ion-item>
    
    <ion-label class="ion-text-wrap">
      <h1>Jose Valdez</h1>
      <h2>Login del Usuario</h2>
        <ion-list>
          <ion-item>   <ion-input label="Email" placeholder="Email" [(ngModel)] = "usuario.email"></ion-input>
 
           
           </ion-item>
           
          <ion-item>
            <ion-input type= "password" label="Password" placeholder="Password" [(ngModel)] = "usuario.password"></ion-input>

            </ion-item>
        </ion-list>
        
      
    </ion-label>
  </ion-item>
  <ion-fab  slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click) ="loginUser()">
      <ion-icon   name="bookmark-outline"></ion-icon> Guardar
     
    </ion-fab-button>
    
    
  </ion-fab>
  <ion-fab  slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click) ="logoutUser()">
      <ion-icon   name="exit"></ion-icon> Salir
     
    </ion-fab-button>
  </ion-fab>
</ion-content>
